body { 
		background-color:#897B7B;
		color:#ffffff;
	}
	
	#Title {
		font-family: 'Malgun Gothic';
		text-align: center;
		color: #333;
		margin-top: 75px;
	}
	
	#searchbox{

		width: 500;
		height: 4%;
		border: none;
		border-radius: 2px;
		outline: none;
		padding-left: 15px;
		text-align: left;
		background-color: white;
		color: #333;
		font-size: 15px;
		font-family: 'Malgun Gothic', sans-serif;
		display: block;
		margin: auto;
		margin-top: 50px;
	}
	
    #stripe {
        width:100%;
		vertical-align:middle;
    }

	#mainframe {
		text-align: center;
		position: absolute;
		top: 25%;
		left:16%;
		right:11%;
	}
	
	#footer {
		position: absolute;
		bottom : 0;
		right: 0;
		text-align: right;
		padding: 10px;
		font-size:30%;
	}
	
	#linkblock {
		width:20%;
		height:140px;
		margin-left:25px;
		margin-right:30px;
		margin-top:30px;
		margin-bottom:40px;
		padding-left:67px;
		padding-right:1px;
		padding-top:0px;
		padding-bottom:5px;
		color:#000;
		text-align: left;
		background-position:top 0px left 0px;; 
		background-repeat:no-repeat;
		font-family: 'Malgun Gothic';
		font-size:100%;
		display: inline-block;
		vertical-align: top;
		border-left: 3px solid #607d8b;
    }
	
	
	ul { 
		list-style-type: none;
		padding-left: 0;

	} 
	
	a:link { text-decoration:none; font-weight:normal; color:#333; }
	a:visited { text-decoration:none; font-weight:normal; color:#333; }
	a:hover { text-decoration:none; font-weight:normal; color:#333; }
	a:active { text-decoration:none; font-weight:normal; color:#333; }
	a:focus { text-decoration:none; font-weight:normal; color:#333; }
	
	#footer a:link { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:visited { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:hover { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:active { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:focus { text-decoration:none; font-weight:normal; color:#101010; }